@import url("./reset.css");

body{
    background-color: black; 
}

div {
    display: block;
}

.banner{
    border-bottom: 1px solid #33A8DB;
    height: 605px;

    background-image: linear-gradient(180deg, rgba(0, 0, 0, 0.6), rgba(49, 168, 221, .2), rgba(0, 0, 0, .6)), url('/assets/images/banner.png');    
    background-size: cover;
    background-repeat: no-repeat;
    background-position: top -127px;
}

.banner-content{
    width:Hug(510px);
    height: Hug(393px);
    top: 56px;
    left: 465px;
    gap: 16px;
    padding-top: 60px;
    margin: auto;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    font-family: Raleway, sans-serif;
}

.banner-content .logo{   
    shape-outside: ellipse(268px 268px);
    clip-path: ellipse();
    background: #00000033; 

    width: 268px;
    height: 268px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.banner-content .logo img{
    width: 248px;
    height: 214px;
    top: 27px;
    left: 131px;    
}

.banner-content h1{
    width: 600px;
    height: 47px;
    font-size: 40px;
    font-weight: 900;
    line-height: 47px;
    text-transform: uppercase;
    letter-spacing: normal;
    text-align: center;

    background: linear-gradient(180deg, #33A8DB 0%, #1472B7 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -webkit-text-fill-color: transparent;
    -moz-text-fill-color: transparent;  
}

.banner-content p{
    font-size: 20px;
    font-weight: 400;
    line-height: 23px;
    letter-spacing: 0em;
    text-align: center;
    width: 600px;
    height: 46px;
    color: #FFFFFF;
    margin: 16px 0px 24px;
}

.banner-content button{
    width: Fixed (326px);
    height: Hug (57px);
    top: 473px;
    left: 557px;
    padding: 19px, 91px, 19px, 91px;
    gap: 31px;

    text-transform: uppercase;
    letter-spacing: normal;
    font-size: 16px;
    font-weight: 900;
    line-height: 19px;
    letter-spacing: 0.21em;
    text-align: center;
    color: #31A8DD;

    background: transparent;
    border: 2px solid;
    border-image-source: linear-gradient(180deg, #3BA1CD 0%, #1572B7 100%);
    border-image-slice:10;
    border-image-outset: 12px;
}


#course-content{
    font-family: Raleway, sans-serif;
    width: 792px;
    height: 325px;
    top: 723px;
    left: 324px;
    gap: 24px;
    margin: 100px auto; 
   
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#course-content h2{
    font-size: 32px;
    font-weight: 700;
    line-height: 38px;
    letter-spacing: 0.19em;
    text-align: left;
    color: #33A8DB;
    text-transform: uppercase;
    letter-spacing: normal;
}

#course-content p{
    font-size: 16px;
    font-weight: 400;
    line-height: 19px;
    letter-spacing: 0em;
    text-align: center;
    color: #FFFFFF;
    width: 792px;
    height: 38px;
}

.module{
    width: 535px;
    height: 51px;     
    margin-bottom: 20px;

    border: 1px solid #33A8DB;
    border-radius: 57px;
    background: #252525;
    box-shadow: -2px 6px 4px 0px #00000066 inset;
    color: #FFFFFF;
    
    font-size: 16px;
    font-weight: 400;
    line-height: 19px;
    letter-spacing: 0em;
    padding: 16px, 127px, 16px, 127px; 

    display: flex;
    align-items: center;
    justify-content: center;
}

.module span{
    color:#33A8DB;     
}